<div class="loading" *ngIf="!colors">
    Cargando...
</div>

<div class="container-fluid mt-3" *ngIf="colors">
    <h1>{{page_title}}</h1>
    <hr/>

    <div class="card-columns">
        <article class="card w-100 shadow-sm" *ngFor="let color of colors | paginate : {
                                    itemsPerPage: tableSize,
                                    currentPage: page,
                                    totalItems: count
                                };
                            let i = index" >
            
            <div id="color-card" class="card-body" [ngStyle]="{'background-color': color.color}">

                <a class="colorHover" [routerLink]="['/entrada', color.id]" >
                    <div id="color-box" >
                        
                            <ul  class="text-white ">
                                <li class="text-shadow">{{color.year}}</li>
                                <li class="text-shadow color-name"><p><b>{{color.name}}</b></p></li>
                                <li class="text-shadow color-color"><p><b>{{color.color}}</b></p></li>
                                <li class="text-shadow color-pantone"><p>{{color.pantone}}</p></li>
                            </ul>
                        
                    </div>
                </a>



            </div>

            <div class="m-1 w-100 text-center">
                <a [routerLink]="['/entrada', color.id]" class="btn btn-primary mr-2">Leer</a>
                <a [routerLink]="['/editar-entrada', color.id]" class="btn btn-info mr-2" *ngIf=" role == 'ROLE_ADMIN'">Editar</a>
                <a (click)="deleteColor(color.id)" class="btn btn-danger text-white" *ngIf=" role == 'ROLE_ADMIN'">Borrar</a> 
            </div>
            
        </article>



    </div>

    <div class="d-flex justify-content-center">
        <pagination-controls 
          previousLabel="Atrás" 
          nextLabel="Siguiente" 
          (pageChange)="onTableDataChange($event)">
        </pagination-controls>
      </div>

</div>

