<div class="loading" *ngIf="!color">
    Cargando...
</div>

<div class="container-fluid mt-3" *ngIf="color">
    <h1>{{page_title}}</h1>
    <hr/>
    <div class="card-columns">
        <article class="card w-100">
            <div class="card-header">
                <h3>
                    <a >{{color.name}}</a>
                </h3>
            </div>
            <div class="card-body">

                <div>
                    
                        <ul>
                            <li><p>{{color.color}}</p></li>
                            <li><p>{{color.pantone}}</p></li>
                            <li><p>{{color.year}}</p></li>
                        </ul>
                    
                </div>

            </div>
            
        </article>
    </div>

</div>

