<div class="loading" *ngIf="!color">
    Cargando...
</div>

<div class="container-fluid mt-3" *ngIf="color">
    <h1>{{page_title}}</h1>
    <hr/>
    <div class="card-columns">
        <article class="card w-100" [ngStyle]="{'background-color': color.color}">

            <div class="card-body">

                <div id="color-box"> 
                    
                    <ul class="text-white ">
                        <li class="text-shadow">{{color.year}}</li>
                            <li class="text-shadow color-name"><p><b>{{color.name}}</b></p></li>
                            <li class="text-shadow color-color"><p><b>{{color.color}}</b></p></li>
                            <li class="text-shadow color-pantone"><p>{{color.pantone}}</p></li>
                        </ul>
                    
                </div>

            </div>
            
        </article>
    </div>

</div>

