/* You can add global styles to this file, and also import other style files */


.colorHover{
    text-decoration: none !important;
}

#color-box{
    color: black;
    text-decoration: none;
}

#color-box ul{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

.color-name {
    margin-left: 50px;
    padding-left: 50px;
}

.color-color {
    margin-left: 50px;
    padding-left: 50px;
}


.color-pantone {
    margin-left: 80px;
    padding-left: 150px;
}


.text-shadow{
    text-shadow: 1px 1px black; 
}

